@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
$brand: #055a3b;
.top .bi-headset {
  color: $brand;
  font-size: 25px;
}
.top span {
  color: $brand;
  a {
    text-decoration: none;
    color: $brand;
    &:hover {
      color: blue;
    }
  }
}

.bi-houses-fill {
  color: #fff;
  background: orange;
  padding: 10px;
  border-radius: 8px;
}
.btn {
  background: orange !important;
  padding: 14px 24px !important;
}
.carousel-item {
  img {
    height: 90vh;
  }
  .carousel-caption {
    top: 50%;
    h5 {
      font-weight: bold;
      font-size: 42px;
    }
    form .btn-outline-success {
      background: $brand !important;
      color: #fff;
    }
    .btn-outline-success {
      color: #fff;
    }
  }
}
.title {
  h2 {
    color: $brand;
    font-weight: bold;
    font-size: 32px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      background: $brand;
      left: 50%;
      top: 40px;
      transform: translateX(-50px);
    }
  }
  p {
    margin-top: 16px;
  }
}
