$brand: #055a3b;
.top .bi-headset {
  color: $brand;
  font-size: 25px;
}
.top span {
  color: $brand;
  a {
    text-decoration: none;
    color: $brand;
    &:hover {
      color: blue;
    }
  }
}

.bi-houses-fill {
  color: #fff;
  background: orange;
  padding: 10px;
  border-radius: 8px;
}
.btn {
  background: orange !important;
  padding: 14px 24px !important;
}
