@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
$brand: #055a3b;
.top .bi-headset {
  color: $brand;
  font-size: 25px;
}
.top span {
  color: $brand;
  a {
    text-decoration: none;
    color: $brand;
    &:hover {
      color: blue;
    }
  }
}

.bi-houses-fill {
  color: #fff;
  background: orange;
  padding: 10px;
  border-radius: 8px;
}
.btn {
  background: orange !important;
  padding: 14px 24px !important;
}
.carousel-item {
  img {
    height: 100vh;
    position: relative;
  }
  .carousel-caption {
    position: absolute;
    top: 50%;
    h5 {
      font-weight: bold;
      font-size: 42px;
    }
    form .btn-outline-success {
      background: $brand !important;
      color: #fff;
    }
    .btn-outline-success {
      color: #fff;
    }
  }
}
